{% load static %}
<div class="container-xl mt-4">
  <div class="row">
    <div class="col-md-auto text-center">
      <img src="{% static 'img/about.jpg' %}" alt=""/>
    </div>
    <div class="col">
      <span class="about-title">
        <h2>About</h2>
      </span>
      <span class="about-content">
        Sufalam Hospitals, Ahmedabad Unit is a 550-bed Super multi-specialty
        regional hospital chain in Ahmedabad, Gujarat. It is the 18th
        hospital in India to receive the award of global green-OT. Sufalam
        Hospitals, Ahmedabad uses Gemstone Spectral Imaging Technology, a
        first of its kind in Asia. The hospital is to invest Rs. 1,000 Crore
        in the state of Gujarat, one of the largest healthcare investments
        in India.
      </span>
    </div>
  </div>
</div>
