{% extends 'D:\College\Projects\hospital-management-system\home\templates\home\base.html' %}
{% block content %}

<div class="container mt-5">

    <center>
        <div class="card h-auto mb-3">
            {% if result %}
                {% if result == 1 %}
                    <div class="card-title"><h3>You have no diabetes, If you have any doubt take appointment of doctor !</h3><br>
                        <a href="/appointmentbooking/" class="btn btn-primary w-25">Book Appointment</a></div>
                {% else %}
                    <div class="card-title"><h3>You have symptoms of diabetes please take appointment of doctor!</h3><br>
                    <a href="/appointmentbooking/" class="btn btn-primary w-25">Book Appointment</a></div>
                {% endif %}
            {% else %}
                <div class="card-title"><h3>Please Enter data to check Diabetes !</h3></div>
                <div class="card-body">

                    <form method="post">
                        {% csrf_token %}
                        <div class="row mt-2">
                            <div class="col-md ">Age:</div>
                            <div class="col-md"><input type="number" name="0" class="form-control w-75"></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md">Height(in centimeters):</div>
                            <div class="col-md"><input type="number" name="15" class="form-control w-75"></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md">Weight(in kg):</div>
                            <div class="col-md"><input type="number" name="16" class="form-control w-75"></div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md">Gender:</div>
                            <div class="col-md">
                                <select class="form-select w-75" name="1">
                                    <option value="0">Male</option>
                                    <option value="1">Female</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md">Do you feel sudden weigh loss:</div>
                            <div class="col-md">
                                <select class="form-select w-75" name="4">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md">Do you feel weakness:</div>
                            <div class="col-md">
                                <select class="form-select w-75" name="5">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md">Do fill delay in healing of blooding</div>
                            <div class="col-md">
                                <select class="form-select w-75" name="10">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md">Itching:</div>
                            <div class="col-md">
                                <select class="form-select w-75" name="9">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md">Blurry Visual:</div>
                            <div class="col-md">
                                <select class="form-select w-75" name="8">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>


                        <div class="row mt-2">
                            <div class="col-md">Polyuria:</div>
                            <div class="col-md">
                                <select class="form-select w-75" name="2">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md">Polydipsia:</div>
                            <div class="col-md">
                                <select class="form-select w-75" name="3">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>


                        <div class="row mt-2">
                            <div class="col-md">Polyphagia:</div>
                            <div class="col-md">
                                <select class="form-select w-75" name="6">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md">Genital Thrush:</div>
                            <div class="col-md">
                                <select class="form-select w-75" name="7">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>


                        <div class="row mt-2">
                            <div class="col-md">Partial paresis:</div>
                            <div class="col-md">
                                <select class="form-select w-75" name="11">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md">Muscle Paresis:</div>
                            <div class="col-md">
                                <select class="form-select w-75" name="12">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md">Muscle Stiffness:</div>
                            <div class="col-md">
                                <select class="form-select w-75" name="13">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md">Alopechia:</div>
                            <div class="col-md">
                                <select class="form-select w-75" name="14">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>

                        <button class="btn btn-primary mt-2" type="submit">Submit</button>
                        <button class="btn btn-primary mt-2" type="reset">Reset</button>
                    </form>

                </div>
            {% endif %}
        </div>
    </center>

</div>

{% endblock content %}